*{
    margin: 0;
    padding: 0;
}

#topBar{
    height: 56px;
    background-color: #0392ce;
    color: white;
}

#inTopBar{
    width: 1200px;
    height: 56px;
    margin: auto;
    text-align: center;
    font-family: Luminari, fantasy;
}

#headerLogo{
    color: white;
    font-size: 35px;
    text-decoration: none;
    margin: 7px 0 7px 40px;
    float: left;
}

#searchBox{
    width: 350px;
    height: 30px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin: 13px 0 13px -420px;
    padding-left: 10px;
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 35px;
}

#headerImage{
    width: 50px;
    float: right;
    border-radius:50%;
    margin: 2px 10px 2px 10px;
}

#headerLogout{
    font-size: 15px;
    color: white;
    text-decoration: none;
    float: right;
    margin: 20px 50px 20px 0;
}
