*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainDiv{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.mainDiv:before{
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    background-color: #0392ce;
    border-radius: 50%;
}

.loginForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    top: 27%;
    left: 49%;
    width: 50%;
}

.errorDiv{
    color: #0392ce;
    font-size: 18px;
    width: 380px;
    text-align: center;
}

.title{
    font-size: 35px;
    color: #0392ce;
    margin-bottom: 10px;
}

.title1{
    font-size: 35px;
}

.inputField{
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px;
    height: 55px;
    border-radius: 55px;
    z-index: 1;
}

.inputField i{
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
    padding: 0 15px 0 20px;
}

.inputField input{
    background: none;
    outline: none;
    border: none;
    line-height: 55px;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.inputField input::placeholder{
    color: #aaa;
    font-weight: 500;
}

.button{
    width: 150px;
    background-color: #0392ce;
    border: none;
    outline: none;
    height: 50px;
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    margin: 10px 0;
    cursor: pointer;
    z-index: 1;
}

.button.transparent{
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: bold;
}

.panelDiv{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.image{
    width: 100%;
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    pointer-events: all;
    color: #fff;
    padding: 3rem 17% 2rem 12%;
    z-index: 6;
}

.panel p{
    font-size: 16px;
    font-weight: bold;
    padding: 0.7rem 0;
    font-family: 'Georgia', serif;
    width: 600px;
}
