*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainDiv{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.mainDiv:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    left: 48%;
    transform: translateY(-50%);
    background-color: #0392ce;
    border-radius: 50%;
}

.signUp{
    position: absolute;
    top: 10%;
    right: 50%;
    width: 50%;
}

.signUpForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.title {
    font-family: 'Snell Roundhand', cursive;
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.inputField {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    z-index: 1;
}

.inputField i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
    padding: 0 15px 0 20px;
}

.inputField input {
    background: none;
    outline: none;
    border: none;
    line-height: 55px;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.inputField input::placeholder {
    color: #aaa;
    font-weight: 500;
}

.button {
    width: 150px;
    background-color: #0392ce;
    border: none;
    outline: none;
    height: 50px;
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    z-index: 1;
}

.button.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
}


.panelDiv {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.image {
    width: 100%;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
}

.right-panel {
    padding: 3rem 12% 2rem 17%;
}

.panel .content {
    color: #fff;
}

.panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.panel p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
}

.right-panel .image,  .right-panel .content {
    transform: translateX(800px);
}

